<div class="h-screen w-auto bg-gradient-to-br from-gray-100 to-gray-200">
    <div class="h-full flex justify-center items-center">
        <div class="flex flex-col items-center">
            <h1 class="text-6xl text-gray-800 font-semibold tracking-wide">404</h1>
            <p class="mt-4 text-sm text-gray-600">Page not found buddy</p>
        </div>
    </div>
</div>