<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="antialiased">
    <div class="h-screen w-auto bg-gradient-to-br from-blue-600 to-indigo-600">
        <div class="h-full flex justify-center items-center">
            <h1 class="text-4xl text-white font-semibold tracking-wide">
                About Page
            </h1>
        </div>
    </div>
</body>

</html>