<div>
    <div class="p-4 w-full max-w-5xl mx-auto">
        <h1 class="text-4x font-semibold tracking-wide">
            Node JS Application
        </h1>
        <ul class="mt-4">
            {{#each data }}
            <li>{{ id }} {{ name }}</li>
            {{/each }}
        </ul>
    </div>
</div>